#exercises {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 20px;
}

.exercise {
    background-color: #555555;
    border-radius: 8px;
    padding: 8px 14px;
}

#osnasports-logo {
    margin-bottom: 15px;
    width: 250px;
    height: 140px;
}
